* {
    box-sizing: border-box;
  }
  
  /*Default mobile first styling*/

body {
    background-color: #413f41;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

}

#flexbox-row-heading, #flexbox-column-heading, #grid-heading, #linear-gradient-heading, #box-transition-heading, #overlay-card-heading {
    background-color: #393939;
    border: 1px solid rgb(250, 250, 250);
    position: relative;
    top: -35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -30px;
    height:fit-content;
    border-radius: 5px;
    padding: 5px;
}

h1, p {
    color: #ff6df5;
}

pre {
    background: linear-gradient(180deg, rgba(177,96,172,1) 28%, rgba(165,94,161,1) 100%);
    color: white;
    user-select: all;
}

pre:hover {
    transform: translateY(-10px);

}

section{
    border: 2px dashed white;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: grid;

}

footer {
    text-align: center;
}

/*Two column layout for 768px and above*/

@media only screen and (min-width: 769px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 260px;
    }
    
  }

  /*Three column layout for 768px and above*/

  @media only screen and (min-width: 992px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

 